#rangeInputs {
    width: 100%;
    text-align: right;
}

#rangeInputForm {
    display: inline-block;
    width: 25%;
    margin-left: 25%;
}

#aggregateScore {
    display: inline-block;
    width: 25%;
    margin-right: 24%;
    text-align: center;
    font-size: 11em;
}

.rangeLabel {
    width: 100px;
    display: inline-block;
    text-align: center;
}

.rangeDisplay {
    font-size: 2em;
}

body { 
    background-color: #282828;
    color: #A0A0A0;
    font-family: "Courier New", courier, monospace;
    border: 0px;
}

#authorizeButton {
    background-color: #282828;
    display: block;
    font-size: 4em;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    transition: all 0.3s;
    width: 300px;
}

#authorizeButton:hover {
    color: #1DB954;
}